/frontend/node_modules
/frontend/dist
/scripts
/backend/Bacchus.Api/bin
/backend/Bacchus.Api/obj
/backend/Bacchus.Domain/bin
/backend/Bacchus.Domain/obj
/backend/Bacchus.Infrastructure/bin
/backend/Bacchus.Infrastructure/obj
/backend/Bacchus.Application/bin
/backend/Bacchus.Application/obj